{% extends 'articles/base.html' %}
{% block css %}
<style>
  #document {
    margin-top: 10px;
  }
  #title {
    width : 100%;
    margin-bottom: 10px;
  }
  #content {
    width : 100%;
    height : 300px;
    margin-bottom : 10px;
  }
</style>
{% endblock %}
{% block body %}
<h1 id="document">글 수정하기</h1><hr>
<form action="/articles/{{ article.pk }}/edit">
  <label for="title">제목 : </label>
  <input id="title" type="text" name="title" value="{{ article.title }}">
  <label for="content">내용 : </label>
  <input name="content" id="content" value="{{ article.content }}"></input>
  <input type="submit" value="수정하기">
</form>
{% endblock %}